@use "../../styles/" as *;

.header {
  background-color: $primaryBg;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  box-shadow: 0 2px 20px black;
  transition: 0.4s ease-in-out;

  &.scroll {
    background-color: darken($primaryBg, 20%);
    .header__container {
      padding: 10px 0;
    }

    .header__brand {
      position: absolute;
      right: 0;
      top: calc(50% - 27px);
      font-size: 1.1rem;

      span {
        &:nth-child(1) {
          transform: translateY(15px);
        }

        &:nth-child(2) {
          visibility: hidden;
        }
      }
    }

    .header__notifications {
      opacity: 0;
    }
  }

  .header__container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
    position: relative;
    transition: 0.4s ease-in-out;
  }

  .header__brand {
    font-size: 1.5rem;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    right: calc(50% - 46px);
    transition: 0.4s ease-in-out;

    span {
      &:nth-child(1) {
        color: rgb(255, 94, 0);
        font-weight: 600;
      }

      &:nth-child(2) {
        font-size: 0.9rem;
        font-style: italic;
        letter-spacing: 2px;
      }
    }
  }

  .header__toggler {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .header__notifications {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

    img {
      border-radius: 50%;
      width: 100%;
    }

    svg {
      font-size: 2.5rem;
    }
  }
}
