@use "../../../../styles" as *;

.dashboardCard {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px lighten(black, 10%);
  transition: 0.6s ease-in-out;
  position: relative;

  .loadingMini {
    min-height: 200px;
  }

  .dashboardCard__bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
    background-image: linear-gradient(
      darken($primaryBg, 5%),
      darken($primaryBg, 15%)
    );
  }

  .dashboardCard__bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
    opacity: 0;
    background-image: linear-gradient(
      darken($primaryBg, 15%),
      darken($secondaryBg, 5%)
    );
    transition: 0.3s ease-in-out;
  }

  &:hover {
    .dashboardCard__bg2 {
      opacity: 1;
    }
  }

  .dashboardCard__body {
    position: relative;
    z-index: 2;
  }

  .dashboardCard__head {
    display: flex;
    margin-bottom: 10px;
  }

  .dashboardCard__headImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

    img {
      width: 100%;
      opacity: 0.7;
      border-radius: 50%;
    }
  }

  .dashboardCard__headInfo {
    display: flex;
    flex-direction: column;
  }

  .dashboardCard__header {
    font-size: 1.2rem;
  }

  .dashboardCard__time {
    font-size: 0.8rem;
  }

  .dashboardCard__title {
    font-size: 1.2rem;
    text-align: left;
  }

  .dashboardCard__paragraph {
    overflow-wrap: break-word;
    min-height: 50px;
    margin: 10px 0;
  }

  .dashboardCard__paragraphSpan {
    margin-left: 10px;
    color: $orangeColor;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .dashboardCard__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .dashboardCard__btnsdetail {
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &:hover {
      .dashboardCard__btnIcon {
        background-color: $whiteColor;
        color: $orangeColor;
        box-shadow: 0 5px 10px $primaryBg;
      }
    }
  }

  .dashboardCard__btnIcon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 5px $primaryBg;
    transition: 0.4s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $whiteColor;
      color: $orangeColor;
      box-shadow: 0 5px 10px $primaryBg;
    }
  }
}
