@use "../../../../styles" as *;

.mainDisplay {
  background-color: $primaryBg;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  //   position: relative;

  .mainDisplay__container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mainDisplay__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: ellipse(90% 50% at 70% -50%);
    background-color: $secondaryBg;
    animation: moveBgDown 0.5s ease-in-out forwards;
    animation-delay: 2.5s;
  }

  @keyframes moveBgDown {
    from {
      clip-path: ellipse(90% 50% at 70% -50%);
    }

    to {
      clip-path: ellipse(90% 50% at 70% 0%);
    }
  }

  .mainDisplay__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 104px);
    top: calc(50% - 29px);
    animation: animateHeader ease-in-out 1s forwards;
    animation-delay: 2.5s;
  }

  @keyframes animateHeader {
    from {
      left: calc(50% - 104px);
      top: calc(50% - 29px);
    }

    to {
      left: 5%;
      top: 30px;
    }
  }

  .mainDisplay__headerIcon {
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    color: $orangeColor;
    margin-right: 10px;
    animation: fontSize 1.2s forwards;
    animation-delay: 2.5s;
  }

  @keyframes fontSize {
    from {
      font-size: 2.3rem;
    }

    to {
      font-size: 1.3rem;
    }
  }

  .mainDisplay__headerText {
    font-weight: 400;
    font-size: 3rem;
    color: $whiteColor;
    animation: fontSize2 1.2s forwards;
    animation-delay: 2.5s;
  }

  @keyframes fontSize2 {
    from {
      font-size: 3rem;
    }

    to {
      font-size: 1.6rem;
    }
  }

  .mainDisplay__body {
    position: relative;
    color: $whiteColor;
    letter-spacing: 2px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mainDisplay__header1 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 2.6s;
  }

  .mainDisplay__header2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 2.8s;
  }

  .mainDisplay__header3 {
    font-size: 1.5rem;
    margin-bottom: 40px;
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 3s;
  }

  .mainDisplay__btn {
    opacity: 0;
    animation: appear 1s forwards;
    animation-delay: 3.2s;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
